@charset "UTF-8";

body {
    background-color: #fff3e6; 
    color: #333;
    line-height: 1.6;
}
.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
    background-color: #fff; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    padding: 20px;
}


header {
    background: #a52a2a; 
    color: #fff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: 6px solid #e8491d; 
    text-align: center;
}



