@charset "UTF-8";
body {
    background-color: aliceblue;
}
body {
}



h1 {

    color: #000000;
    text-align: center;
    border-width: medium;
    -webkit-box-shadow: 0 0px 12px;
    box-shadow: 0 0px 12px;
    
}


h1 {
    font-family: Baskerville, "Times New Roman", serif;
    font-variant: normal;
    font-style: normal;
}




h3 {
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
}
